#root {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.circle-gradient-1 {
  background: radial-gradient(
    circle,
    rgba(213, 19, 231, 0.569) 0%,
    transparent 70%
  );
}

.circle-gradient-2 {
  background: radial-gradient(circle, rgb(242, 237, 237) 0%, transparent 70%);
}

.circle-gradient-3 {
  background: radial-gradient(circle, rgb(36, 116, 255) 0%, transparent 70%);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
