#root {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.circle-gradient-1 {
  background: radial-gradient(
    circle,
    rgb(255, 0, 0) 0%,
    rgba(255, 161, 161, 0.2) 50%,
    transparent 100%
  );
  filter: blur(60px);
}

.circle-gradient-2 {
  background: radial-gradient(
    circle,
    rgba(171, 78, 205, 0.4) 0%,
    rgba(156, 239, 232, 0.2) 50%,
    transparent 100%
  );
  filter: blur(10px);
}

.circle-gradient-3 {
  background: radial-gradient(
    circle,
    rgba(7, 143, 241, 0.4) 0%,
    rgba(255, 217, 153, 0.2) 70%,
    transparent 100%
  );
  filter: blur(70px);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
